{% load static i18n %}

<div id="tafsirArea" class="relative w-full flex flex-col items-center bg-white">

  {% include "quran/partials/quran_top_toolbar.html" with mode="tafsir" raw_page=raw_page current_mushaf=current_mushaf %}

  <div id="tafsirFlipContainer" class="relative flex justify-center">

    <div id="tafsirZoomWrapper" class="relative mt-4">

      <div class="w-full rounded-3xl overflow-hidden bg-white shadow-2xl border border-gray-200 ">

        <div class="flex flex-nowrap items-center justify-center gap-1 md:gap-3 py-2 md:py-4 border-b border-gray-200 bg-gray-100 overflow-x-auto whitespace-nowrap px-1.5 md:px-2"
             dir-text>
          {% for book in tafasir %}
          <button type="button"
                  class="tafsir-book-btn px-2 md:px-4 py-1 md:py-2 rounded-full border text-[10px] sm:text-xs md:text-sm
                         bg-white text-gray-700 border-gray-300
                         hover:bg-emerald-50 hover:border-emerald-500 hover:text-emerald-700 transition"
                  data-book-id="{{ book.id }}">
            {% translate book.lang %}
          </button>
          {% endfor %}
        </div>

        <div id="tafsirFlipBook" class="st-page-flip w-full">

          {% for p in pages reversed %}
          <div class="page {% if forloop.counter0|divisibleby:2 %}page-right{% else %}page-left{% endif %}"
               data-density="hard"
               data-tafsir-page="{{ p }}">

            <div class="page-content">
              <div class="flex flex-col h-full">

                <div class="flex items-center justify-center mt-3 mb-2">
                  <div class="inline-flex items-center justify-center w-8 h-8 rounded-full border border-gray-300 text-[11px] text-gray-600 bg-white">
                    {{ p }}
                  </div>
                </div>
                <div class="px-12 pb-6 pt-1 max-h-[640px] overflow-y-auto" dir-text>
                  <div id="tafsirPageContent-{{ p }}"
                       class="tafsir-text text-[14px] leading-relaxed text-gray-800">
                    <p class="text-xs text-gray-400 text-center py-4">
                      {% trans "tafsir_loading_message" %}
                    </p>
                  </div>
                </div>

              </div>
            </div>

          </div>
          {% endfor %}

        </div>

      </div>

    </div>
  </div>

</div>

<script>
  window.TAFSIR_PAGE_MAP = [
    {% for p in pages reversed %}
      {{ p }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

  window.TAFSIR_DEFAULT_PAGE = {{ raw_page|default:"null" }};
  window.TAFSIR_TOTAL_PAGES = {{ total_pages|default:604 }};
  window.TAFSIR_API_URL = "{% url 'quran:page_tafsir' %}";
</script>