{# templates/quran/partials/home.html #}
{% extends "web/layouts/base.html" %}
{% load static i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block title %}
  {% if mode == "tafsir" %}
    {% blocktrans with page=raw_page %}Tafsir of page {{ page }} from the Holy Quran | Wird Quran{% endblocktrans %}
  {% elif surah %}
    {% blocktrans with surah_name=surah %}Surah {{ surah_name }} | Read and listen - Wird Quran{% endblocktrans %}
  {% elif current_qari %}
    {% blocktrans with qari_name=current_qari.name %}Listen to the Quran recited by {{ qari_name }} | Wird Quran{% endblocktrans %}
  {% else %}
    {% blocktrans with page=raw_page %}Page {{ page }} from the Holy Quran | Wird Quran{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block description %}
  {% if mode == "tafsir" %}
    {% blocktrans with page=raw_page %}Read the tafsir of page {{ page }} from the Holy Quran easily, with ayahs displayed and linked to tafsir on the Wird Quran platform.{% endblocktrans %}
  {% elif surah %}
    {% blocktrans with surah_name=surah %}Read Surah {{ surah_name }} from the Holy Quran, with easy listening and browsing on the Wird Quran platform.{% endblocktrans %}
  {% elif current_qari %}
    {% blocktrans with qari_name=current_qari.name %}Listen to the Holy Quran recited by {{ qari_name }} in high quality, with easy navigation between surahs and ayahs.{% endblocktrans %}
  {% else %}
    {% blocktrans with page=raw_page %}Browse page {{ page }} from the Holy Quran with a comfortable and easy interface, with smooth reading and quick navigation on the Wird Quran platform.{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block canonical %}
<link rel="canonical" href="https://wird.me/quran/page/{{ raw_page }}/">
{% endblock %}

{% block content %}

{% get_current_language as CURRENT_LANGUAGE %}

<link rel="stylesheet" href="{% static 'quran/css/quran.css' %}">
<link rel="stylesheet" href="{% static 'quran/css/tafsir.css' %}?v=12">

<div class="mt-4 grid grid-cols-12 gap-4 lg:gap-6 mb-10">

  <div id="sidebarMenuWrapper"
       class="mt-14 col-span-12 lg:col-span-2 order-2 lg:order-1">
    {% include "quran/partials/sidebar_menu.html" %}
  </div>

  <div id="centerColumn" class=" col-span-12 lg:col-span-8 order-1 lg:order-2 flex justify-center">
    <div class="w-full">

      <div id="mushafModeWrapper" class="{% if mode != 'mushaf' %}hidden{% endif %}">
        {% include "quran/partials/quran_area.html" %}
      </div>

      <div id="tafsirModeWrapper" class="{% if mode != 'tafsir' %}hidden{% endif %}">
        {% include "quran/partials/tafsir_area.html" %}
      </div>

    </div>
  </div>

  <div id="recitationPanelWrapper"
      class="mt-14 col-span-12 lg:col-span-2 order-3">
    {% include "quran/partials/recitation_panel.html" %}
  </div>

</div>

{% include "quran/partials/modal/mushaf_modal.html" %}
{% include "quran/partials/modal/surah_modal.html" %}
{% include "quran/partials/modal/qurra_modal.html" %}
{% include "quran/partials/modal/tafsir_modal.html" %}
{% if CURRENT_LANGUAGE == 'ar' %}
{% include "quran/partials/modal/word_meanings_popover.html" %}
{% endif %}
{% include "quran/partials/modal/short_tafsir_popover.html" %}
{% include "quran/partials/modal/daily_reading_modal.html" %}
{% include "quran/partials/modal/new_khatma_modal.html" %}

<script src="https://cdn.jsdelivr.net/npm/page-flip@2.0.7/dist/js/page-flip.browser.js"></script>


<script>
  window.QURAN_ARABIC_FEATURES_ENABLED = "{{ CURRENT_LANGUAGE|escapejs }}" === "ar";
  window.QURAN_SHORT_TAFSIR_URL = "{% url 'quran:ayah_short_tafsir' %}";
  window.TRANSLATIONS = window.TRANSLATIONS || {};
  {% if CURRENT_LANGUAGE == 'ar' %}
  window.QURAN_WORD_MEANINGS_URL = "{% url 'quran:ayah_word_meanings' %}";
  window.TRANSLATIONS.noWordMeanings = "{% trans 'no_word_meanings' %}";
  window.TRANSLATIONS.hideWordMeanings = "{% trans 'hide_word_meanings' %}";
  window.TRANSLATIONS.showWordMeanings = "{% trans 'show_word_meanings' %}";
  window.TRANSLATIONS.wordMeaningsHint = "{% trans 'word_meanings_hint' %}";
  window.TRANSLATIONS.errorWordMeanings = "{% trans 'error_word_meanings' %}";
  window.TRANSLATIONS.surah = "{% trans 'surah' %}";
  window.TRANSLATIONS.ayah = "{% trans 'ayah' %}";
  window.TRANSLATIONS.showThematicSegmentation = "{% trans 'show_thematic_segmentation' %}";
  window.TRANSLATIONS.hideThematicSegmentation = "{% trans 'hide_thematic_segmentation' %}";
  {% endif %}
  window.TRANSLATIONS.saveStop = "{% trans 'save_stop' %}";
  window.TRANSLATIONS.cancelStop = "{% trans 'cancel_stop' %}";
</script>

<script>
  window.QURAN_PAGE_MAP = [
    {% for p in pages reversed %}
      {{ p }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];
  window.QURAN_MUSHAF_KEY = "{{ current_mushaf|default:''|escapejs }}";
</script>

{% if CURRENT_LANGUAGE == 'ar' %}
{{ quran_thematic_ayahs|json_script:"quranThematicAyahsData" }}
<script src="{% static 'quran/js/word-meanings.js' %}"></script>
<script src="{% static 'quran/js/quran-thematic-segmentation.js' %}?v=9"></script>
{% endif %}
<script src="{% static 'quran/js/short-tafsir.js' %}"></script>
<script src="{% static 'quran/js/quran-page.js' %}"></script>
<script src="{% static 'quran/js/modals.js' %}"></script>
<script src="{% static 'quran/js/fullscreen.js' %}"></script>
<script src="{% static 'quran/js/ayah-highlight.js' %}"></script>
<script src="{% static 'quran/js/global-click.js' %}"></script>
<script src="{% static 'quran/js/ayah-audio.js' %}?v=5"></script>
<script src="{% static 'quran/js/audio-listen-tracker.js' %}"></script>
<script src="{% static 'quran/js/daily_reading_modal.js' %}?v=4"></script>


<script>
  window.QURAN_START_PAGE_INDEX = {{ pages|length }} - 1 - {{ current_index|default:0 }};
  window.addEventListener("load", function () {
    if (window.initMushafFlipBook) {
      window.initMushafFlipBook();
    }
  });
</script>

<script>
  window.QURAN_PAGE_TAFSIR_URL = "{% url 'quran:page_tafsir' %}";
  window.RIGHT_PAGE = {{ right_page|default:"null" }};
  window.LEFT_PAGE = {{ left_page|default:"null" }};
</script>

<script src="{% static 'quran/js/tafsir-page.js' %}?v=12"></script>
<script src="{% static 'quran/js/tafsir-reading-mode.js' %}"></script>
<script src="{% static 'quran/js/reading-mode.js' %}"></script>
<script src="{% static 'quran/js/progress-tracker.js' %}"></script>

{% endblock %}
